@model Post
<div>
    <form asp-controller="Post" asp-action="Adiciona" method="post">
        @Html.EditorFor(p => p)
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</div>
@section Scripts {
    <partial name="_Scripts" />
}
