@model CategoriaComQuantidadeViewModel
<ul>
    @foreach (var categoria in Model.GetCategorias())
    {
        <li>
            <a href="/Home/Categoria/@categoria">@categoria</a>
            &nbsp;
            <span class="badge">@Model.GetQuantidadeDePostsDa(categoria)</span>
        </li>
    }
</ul>